<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar cita</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="date" (ngSubmit)="register()">

    <ion-item>
      <ion-label floating>Cleinte</ion-label>
      <ion-select okText="Ok" cancelText="Cancelar" formControlName="name">
        <ion-option *ngFor="let item of optionsList" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Fecha</ion-label>
      <ion-input type="text" formControlName="date"></ion-input>

      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Hora</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" formControlName="hour"></ion-datetime>
    </ion-item>

	<ion-item>
      <button ion-button type="submit" class="wide" [disabled]="!date.valid">Registrar</button>
    </ion-item>

  </form>

</ion-content>
