<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar cita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="date" (ngSubmit)="register()">

    <ion-item>
      <ion-label floating>Cliente</ion-label>
      <ion-select doneText="Ok" cancelText="Cancelar" formControlName="client">
        <ion-option *ngFor="let item of optionsList" value="{{item.id}}">{{item.name}} {{item.surname}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Fecha y hora</ion-label>
      <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" formControlName="date" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

	  <ion-item>
      <button ion-button type="submit" class="wide" [disabled]="!date.valid">Registrar</button>
    </ion-item>

  </form>

</ion-content>
