<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
	     <p>Nombre:</p>
      <h1 text-center *ngIf="selectedItem">{{selectedItem.name}}</h1>
    </ion-item>
    <ion-item>
	     <p>Descripcion:</p>
      <h2 text-center *ngIf="selectedItem">{{selectedItem.description}}</h2>
    </ion-item>
    <ion-item>
	     <p>Categoria:</p>
      <h2 text-center *ngIf="selectedItem">{{selectedItem.category}}</h2>
    </ion-item>
    <ion-item>
	     <p>Cantidad:</p>
	      <h3 text-center *ngIf="selectedItem">{{selectedItem.quantity}}</h3>
    </ion-item>
    <ion-item>
  	  <p>Precio:</p>
  	  <h3 text-center *ngIf="selectedItem">{{selectedItem.price}}</h3>
    </ion-item>
    <ion-item>
      <button ion-button class="wide" color="primary" (click)="edit($event)">Editar</button>
    </ion-item>
    <ion-item>
      <button ion-button class="wide" color="primary" (click)="delete_confirm($event)">Eliminar</button>
    </ion-item>
  </ion-list>
</ion-content>
