<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p>Fecha y hora</p>
      <h1 text-center *ngIf="selectedItem">{{selectedItem.date.day}}/{{selectedItem.date.month}}/{{selectedItem.date.year}} {{selectedItem.hour.hour}}:{{selectedItem.hour.minutes}}</h1>
    </ion-item>
    <ion-item>
	    <p>Nombre:</p>
      <h1 text-center *ngIf="selectedItem">{{selectedItem.client.name}}</h1>
    </ion-item>
    <ion-item>
	    <p>Apellidos:</p>
      <h2 text-center *ngIf="selectedItem">{{selectedItem.client.surname}}</h2>
    </ion-item>
    <ion-item>
	    <p>Telefono:</p>
	    <h3 text-center *ngIf="selectedItem">{{selectedItem.client.tlf}}</h3>
    </ion-item>
    <ion-item>
	    <p>e-mail:</p>
      <h3 text-center *ngIf="selectedItem">{{selectedItem.client.email}}</h3>
    </ion-item>
    <ion-item>
	    <p>Nif:</p>
      <h3 text-center *ngIf="selectedItem">{{selectedItem.client.nif}}</h3>
    </ion-item>
    <ion-item>
      <button ion-button class="wide" color="primary" (click)="edit($event)">Editar</button>
    </ion-item>
    <ion-item>
      <button ion-button class="wide" color="primary" (click)="delete_confirm($event)">Eliminar</button>
    </ion-item>
  </ion-list>
</ion-content>
