<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Citas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item [navPush]="dateCreatePage">
      <ion-icon class="large" name="time"></ion-icon>
    </button>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.title}}
      {{item.note}}
      <div class="item-note" item-right>
        {{item.date}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
